:root {
  --primary-black: 0, 0, 0;
  --primary-white: 255, 255, 255;
  --primary-red: #FB565A;
  --hover-red: #E74246;
  --active-red: #D7373B;
  --primary-gray: #EEEEEE;
  --hover-gray: #DFDFDF;
  --active-gray: #D5D5D5;
  --active-link-gray: #A6A6A6;
  --input-gray: 77, 77, 77;
  --filter-text-gray: 40, 49, 54;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(var(--primary-black), 1);
  background-color: rgba(var(--primary-white), 1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.center-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Button*/
.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.primary-button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
}

.primary-button:hover {
  background-color: var(--hover-red);
}

.primary-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
}

.secondary-button {
  color: rgba(var(--primary-black), 1);
  background-color: var(--primary-gray);
}

.secondary-button:hover {
  color: rgba(var(--primary-black), 1);
  background-color: var(--hover-gray);
}

.secondary-button:active {
  color: rgba(var(--primary-black), 0.3);
  background-color: var(--active-gray);
}

.templates__button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
}

.templates__button:hover {
  background-color: var(--hover-red);
}

.templates__button:active {
  color: rgba(var(--primary-white), 1);
  background-color: var(--active-red);
}

.green-button {
  color: rgba(var(--primary-white), 1);
  background-color: #00CA74;
}

.green-button:hover {
  background-color: #00BC6C;
}

.green-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: #00AA62;
}

.yellow-button {
  color: rgba(var(--primary-white), 1);
  background-color: #EFC84A;
}

.yellow-button:hover {
  background-color: #EAB534;
}

.yellow-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: #E5A722;
}

/* header */
.header {
  background-color: var(--primary-gray);

  /* outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px; */
}

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 66px;
  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
}

.logo__link {
  fill: rgba(var(--primary-black), 1);
}

.logo__link:hover {
  fill: rgba(var(--primary-black), 1);
}

.logo__link:active {
  fill: var(--active-link-gray);
}

.menu {
  max-width: 760px;
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
}

.cart {
  max-width: 160px;
  /* outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
}

.cart__link {
  padding-left: 50px;
}



.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 500;
  list-style: none;
}

.menu__item{
  padding-right: 45px;
}

.menu__link {
  text-transform: uppercase;
  color: var(--primary-black);
  line-height: 30px;
  transition: .2s;
}

.menu__link:hover {
  color: var(--primary-red);
}

.menu__link:active {
  color: rgba(var(--primary-black), 0.3);
}

.cart__link {
  text-transform: uppercase;
  color: var(--primary-black);
  line-height: 30px;
  transition: .3s;
}

.cart__link:hover {
  color: var(--primary-red);
}

.cart__link:active {
  color: rgba(var(--primary-black), 0.3);
}

/* Footer */
.map__map-image{
  padding: 0;
  width: 100%;
}

.socials {
  margin-top: 68px;
  display: flex;
}

.socials__footer-cta {
  order: 1;
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-cta__text--big {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 36px;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  fill: rgba(var(--primary-white), 1);
  background-color: var(--primary-gray);
}

.socials-list__link:hover {
  background-color: var(--hover-red);
}

.socials-list__link:active {
  fill: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
}

/* catalog page */
.catalog-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
  align-content: start;
}

/* page-header */
.page-title-layout {
  padding: 0;
  margin: 0;
  min-height: 235px;
  background-color: var(--primary-gray);
}

.page-title {
  padding: 0;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/* Services */
.services {
  margin-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

.services-list__header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list__textarea {
  margin-right: 40px;
}

/* Templates */

.templates__list {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.templates__image-browser {
  width: 360px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.templates__image-case {
  width: 360px;
  height: 580px;
  padding: 0;
  margin: 0;
}

.templates__info {
  background-color: var(--primary-gray);
}

.templates__title {
  text-transform: uppercase;
  color: var(--primary-black);
  line-height: 30px;
  transition: .2s;
}

.templates__text{
  width: 255px;
}

.templates__title:hover {
  color: var(--primary-red);
}

.templates__title:active {
  color: rgba(var(--primary-black), 0.3);
}

/* Filters */
.filters {
  width: 260px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /* outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
}


.filter__filter-price{
  padding: 0;
  margin: 0;
  border: none;
}

.filter__filter-fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  border: none;
}

.filter__filter-title {
  text-transform: uppercase;
  line-height: 30px;
}

.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter__label {
  color: rgba(var(--filter-text-gray), 1);
}

.filter__input:hover+.filter__label {
  color: rgba(var(--filter-text-gray), 1);
}

/* sorting */
/* .sorting {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 255, 0, 0.7);
} */
