/*main properties=================================================================================================== */
:root {
  --primary-black: 0, 0, 0;
  --primary-white: 255, 255, 255;
  --primary-red: #FB565A;
  --hover-red: #E74246;
  --active-red: #D7373B;
  --primary-gray: #EEEEEE;
  --hover-gray: #DFDFDF;
  --active-gray: #D5D5D5;
  --active-link-gray: #A6A6A6;
  --input-gray: 77, 77, 77;
  --filter-text-gray: 40, 49, 54;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(var(--primary-black), 1);
  background-color: rgba(var(--primary-white), 1);
}

P {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.center-container {
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Buttons===================================================================================================*/
.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* primary-button */
.primary-button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
  border-radius: 3px;
  min-width: 80px;
  padding: 12px 40px;
}

.primary-button:hover {
  background-color: var(--hover-red);
}

.primary-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* modal-contact-us__button */

.modal-contact-us__button{
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
  border-radius: 3px;
  min-width: 80px;
  padding: 16px 83px;
}

.modal-contact-us__button:hover {
  background-color: var(--hover-red);
}

.modal-contact-us__button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* .modal-button */
.modal-button {
  padding: 17px 83px 15px 83px;
}

.modal-contact-us__close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-contact-us__close::before,
.modal-contact-us__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;
  border-radius: 3px;
  background-color: #FECCCE;
}

.modal-contact-us__close::before {
  transform: rotate(45deg);
}

.modal-contact-us__close::after {
  transform: rotate(-45deg);
}

/* slide-button */
.slide-button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
  border-radius: 3px;
  min-width: 80px;
  padding: 12px 55px;
}

.slide-button:hover {
  background-color: var(--hover-red);
}

.slide-button:hover:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* contact-us-button */
.contact-us-button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
  border-radius: 3px;
  min-width: 80px;
  padding: 12px 44px;
}

.contact-us-button:hover {
  background-color: var(--hover-red);
}

.contact-us-button:hover:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* secondary-button */
.secondary-button {
  color: rgba(var(--primary-black), 1);
  background-color: var(--primary-gray);
  border-radius: 3px;
  padding: 12px 89px;
}

.secondary-button:hover {
  color: rgba(var(--primary-black), 1);
  background-color: var(--hover-gray);
}

.secondary-button:active {
  color: rgba(var(--primary-black), 0.3);
  background-color: var(--active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* templates__button */
.templates__button {
  color: rgba(var(--primary-white), 1);
  background-color: var(--primary-red);
  padding: 12px 72px;
  border-radius: 3px;
}

.templates__button:hover {
  background-color: var(--hover-red);
}

.templates__button:active {
  color: rgba(var(--primary-white), 1);
  background-color: var(--active-red);
}

/* green-button */
.green-button {
  color: rgba(var(--primary-white), 1);
  background-color: #00CA74;
  border-radius: 3px;
  min-width: 80px;
  padding: 12px 40px;
}

.green-button:hover {
  background-color: #00BC6C;
}

.green-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* yellow-button */
.yellow-button {
  color: rgba(var(--primary-white), 1);
  background-color: #EFC84A;
  border-radius: 3px;
  min-width: 80px;
  padding: 12px 40px;
}

.yellow-button:hover {
  background-color: #EAB534;
}

.yellow-button:active {
  color: rgba(var(--primary-white), 0.3);
  background-color: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* transparent__button */
.transparent__button {
  background-color: transparent;
}

/* sorting__button */
.sorting__button {
  color: rgba(var(--primary-black), 0.3);
  font-size: 14px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.sorting__button:hover {
  color: rgba(var(--primary-black), 0.6);
}

.sorting__button:active {
  color: rgba(var(--primary-black), 1);
}

/* sorting__button-down-dir */
.sorting__button-down-dir {
  fill: var(--active-link-gray);
  fill-opacity: 0.2;
}

.sorting__button-down-dir:hover {
  fill: var(--active-link-gray);
  fill-opacity: 1;
}

.sorting__button-down-dir:active {
  fill: #231F20;
}

/* sorting__button-up-dir */
.sorting__button-up-dir {
  fill: var(--active-link-gray);
  fill-opacity: 0.2;
}

.sorting__button-up-dir:hover {
  fill: var(--active-link-gray);
  fill-opacity: 1;
}

.sorting__button-up-dir:active {
  fill: #231F20;
}

/* header ===================================================================================================*/
.header {
  background-color: var(--primary-gray);
}

.header__container {
  margin-top: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  width: 160px;
  height: 66px;
}

.logo__link {
  fill: rgba(var(--primary-black), 1);
}

.logo__link:hover {
  fill: rgba(var(--primary-black), 1);
}

.logo__link:active {
  fill: var(--active-link-gray);
}

/* menu */
.menu {
  max-width: 760px;
  margin-top: 20px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 500;
  list-style: none;
}

.menu__item {
  padding-right: 44px;
}


.menu__link {
  text-transform: uppercase;
  color: var(--primary-black);
  transition: .2s;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu__link:hover {
  color: var(--primary-red);
}

.menu__link:active {
  color: rgba(var(--primary-black), 0.3);
}

/* cart */
.cart {
  max-width: 160px;
  margin-top: 20px;
}

.cart__link {
  padding-left: 40px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-black);
  line-height: 30px;
}

.cart__link::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/header/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart__link:hover {
  color: var(--primary-red);
}

.cart__link:active {
  color: rgba(var(--primary-black), 0.3);
}

/* Footer ===================================================================================================*/
/* footer map */
.footer__map {
  position: relative;
}

.map__map-image {
  padding: 0;
  width: 100%;
}

.footer__address {
  position: absolute;
  left: 140px;
  top: 54px;
  width: 319px;
  min-height: 308px;
  background-color: rgba(var(--primary-white), 1);
  padding: 50px 50px;
}

.footer__studio-name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer__full-address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 37px;
}

/* .footer__map-marker {
  position: absolute;
  left: 822px;
  top: 86px;
} */
/* social networks */
.socials {
  margin-top: 68px;
  margin-bottom: 68px;
  display: flex;
  align-items: center;
}

.socials__footer-cta {
  order: 1;
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-cta__text--middle {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.footer-cta__text {
  color: rgba(var(--filter-text-gray), 1);
  margin-top: 10px;
}

.socials-list__link {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  fill: rgba(var(--primary-white), 1);
  background-color: var(--primary-gray);
}

.socials-list__link:hover {
  background-color: var(--hover-red);
}

.socials-list__link:active path {
  fill: rgba(var(--primary-white), 0.3);
  background-color: var(--active-red);
}

/* carousel ===================================================================================================*/
.carousel {
  position: relative;
  background-color: var(--primary-gray);
  margin: 0;
  padding: 0;
  min-height: 431px;
}

.carousel-slides {
  list-style: none;
  padding: 0;
}

.carousel__slides-controls {
  position: absolute;
  width: 88px;
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(3, 1fr);
  bottom: 95px;
  left: 50%;
  margin-left: -44px;
  z-index: 30;
}

.carousel__button {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-image: url(../img/index/carousel/radio-button-unchecked.svg);
  cursor: pointer;
}

.carousel__button:checked {
  background-image: url(../img/index/carousel/radio-button-checked.svg);
}

.carousel__button:focus{
  outline: -webkit-focus-ring-color auto 1px;
}

.carousel__slide {
  position: relative;
  min-height: 431px;
}

.hidden-slide {
  display: none;
}

.carousel__slide-info {
  position: absolute;
  z-index: 20;
  top: 80px;
}

.carousel__slide-image {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 10;
}

.carousel__title--big {
  margin: 0;
  margin-bottom: 25px;
  width: 530px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.carousel__textarea {
  color: rgba(var(--filter-text-gray), 1);
  width: 450px;
  margin-bottom: 40px;
}

/* About Us ===================================================================================================*/
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  /* padding-top: 53px; */
  /* padding-bottom: 73px; */
  border-top: 2px solid var(--primary-gray);
  border-bottom: 2px solid var(--primary-gray);
}

/* about studio */
.about-studio {
  width: 651px;
  margin-top: 73px;
  margin-bottom: 60px;
}

.about-studio__title--big {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 32px;
}

.about-studio__textarea {
  color: rgba(var(--filter-text-gray), 1);
  margin-bottom: 40px;
}

.about-studio_text--uppercase {
  font-weight: bold;
  color: rgba(var(--filter-text-gray), 1);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.about-studio__list {
  color: rgba(var(--filter-text-gray), 1);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .about-studio__list-item {
  list-style-image: url("../img/index/about/list-image.png");
} */

.about-studio__list-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 30px;
}

.about-studio__list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--primary-red);
}


/* advantages */
.advantages {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 360px;
  margin-top: 40px;
}

.advantages__image {
  margin-bottom: 27px;
}

.advantages__tagline {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.advantages__statistics {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 23px;
}

.advantages__number {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.advantages__sup {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.advantages__kpi {
  color: rgba(var(--filter-text-gray), 1);
}

/* partners ===================================================================================================*/
.partners {
  border-bottom: 2px solid var(--primary-gray);
  margin-bottom: 80px;
}

.partners__list {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 32px;
  padding-right: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.partner__item {
  position: relative;
}

.partners__item:first-child,
.partners__item:last-child {
  width: 279px;
}

.partner__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  width: 2px;
  height: 52px;
  background-color: var(--primary-gray);
  transform: translateY(-50%);
}

.partner__link {
  opacity: 20%;
}

.partner__link:hover {
  opacity: 100%;
}

.partner__link:active {
  opacity: 10%;
}

/* .vertical-line {
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--primary-gray);
} */
/* catalog page ===================================================================================================*/
.catalog-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
  align-content: start;
  margin-top: 55px;
}

/* page-header ===================================================================================================*/
.page-title-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 241px;
  background-color: var(--primary-gray);
}

.page-title {
  padding: 0;
  margin: 0;
  margin-top: -30px;
  margin-left: -20px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/* Services ===================================================================================================*/
.services {
  margin-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

.services-list__header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 17px;
}

.services-list__textarea {
  color: rgba(var(--filter-text-gray), 1);
  max-width: 260px;
  margin-bottom: 32px;
}

/* Templates ===================================================================================================*/
.templates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.templates__item {
  position: relative;
  margin-bottom: 30px;
}

.templates__info {
  position: absolute;
  bottom: 0;
  display: none;
  background-color: var(--primary-gray);
  min-height: 230px;
  width: 360px;
  padding: 30px 53px 44px 53px;
  border-radius: 0px 0px 3px 3px;
}

.templates__image-browser {
  width: 360px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 0.12;
}

.templates__image-case {
  width: 360px;
  height: 580px;
  padding: 0;
  margin: 0;
}

.templates__item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.templates__item:hover .templates__image-browser {
  opacity: 1;
}

.templates__item:hover .templates__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.templates__title-link {
  color: var(--primary-black);
  transition: .2s;
}

.templates__title {
  text-transform: uppercase;
  margin: 0;
  line-height: 30px;
}

.templates__text {
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  margin-top: 15px;
}

.templates__title:hover {
  color: var(--primary-red);
}

.templates__title:active {
  color: rgba(var(--primary-black), 0.3);
}

/* Filters ===================================================================================================*/
.filters {
  width: 260px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.filter__filter-fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  border: none;
}

.filter__filter-title {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 15px;
}

/* checkboxes */
.filter__item {
  margin-bottom: 17px;
}

.filter__check {
  padding-left: 36px;
  color: rgba(var(--filter-text-gray), 1);
  cursor: pointer;
}

.filter__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__checkbox {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -36px;
  background-image: url(../img/catalog/filters/checkbox-off.svg);
}

.filter__input:hover+.filter__checkbox,
 .filter__input:focus+.filter__checkbox{
  background-image: url(../img/catalog/filters/checkbox-off-focus.svg);
}

/* checked */
.filter__input:checked+.filter__checkbox {
  background-image: url(../img/catalog/filters/checkbox-on.svg);
  width: 25px;
}

.filter__input:checked:hover+.filter__checkbox,
 .filter__input:checked:focus+.filter__checkbox
 {
  color: rgba(var(--filter-text-gray), 1);
  background-image: url(../img/catalog/filters/checkbox-on-focus.svg);
}

/* disabled*/
.filter__input:disabled+.filter__checkbox {
  background-image: url(../img/catalog/filters/checkbox-off-disabled.svg);
}

.filter__input:disabled:hover+.filter__checkbox {
  background-image: url(../img/catalog/filters/checkbox-off-disabled.svg);
}

.filter__input:disabled:checked+.filter__checkbox {
  background-image: url(../img/catalog/filters/checkbox-on-disabled.svg);
}

.filter__input:disabled:checked:hover+.filter__checkbox,
.filter__input:disabled:checked:focus+.filter__checkbox
 {
  background-image: url(../img/catalog/filters/checkbox-on-disabled.svg);
}

/* radio-button */
.filter__radio-button {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  background-image: url(../img/catalog/filters/radio-off.svg);
}

.filter__input:hover+.filter__radio-button {
  background-image: url(../img/catalog/filters/radio-off-focus.svg);
}

/* checked */
.filter__input:checked+.filter__radio-button {
  background-image: url(../img/catalog/filters/radio-on.svg);
}

.filter__input:checked:hover+.filter__radio-button,
.filter__input:checked:focus+.filter__radio-button
 {
  color: rgba(var(--filter-text-gray), 1);
  background-image: url(../img/catalog/filters/radio-on-focus.svg);
}

/* disabled*/
.filter__input:disabled+.filter__radio-button {
  background-image: url(../img/catalog/filters/radio-off-disabled.svg);
}

.filter__input:disabled:hover+.filter__radio-button,
.filter__input:disabled:focus+.filter__radio-button
 {
  background-image: url(../img/catalog/filters/radio-off-disabled.svg);
}

.filter__input:disabled:checked+.filter__radio-button {
  background-image: url(../img/catalog/filters/radio-on-disabled.svg);
}

.filter__input:disabled:checked:hover+.filter__radio-button,
.filter__input:disabled:checked:focus+.filter__radio-button
 {
  background-image: url(../img/catalog/filters/radio-on-disabled.svg);
}

/* filter__range */
.filter__range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter__range-controls {
  position: relative;
  height: 80px;
  background-color: var(--primary-gray);
  border-radius: 3px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter__scale {
  height: 2px;
  background-color: #D7DCDF;
}

.filter__bar {
  width: 70%;
  height: 2px;
  background-color: #00CA74
}

.filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid rgba(var(--primary-white), 1);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__toggle-min {
  left: 18px;
}

.filter__toggle-max {
  left: 160px;
}

.filter__min-price-label {
  color: rgba(var(--filter-text-gray), 1);
}

.filter__max-price-label {
  color: rgba(var(--filter-text-gray), 1);
}

.filter__price-input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: rgba(var(--filter-text-gray), 1);
  border: none;
  border-radius: 3px;
  background: var(--primary-gray);
  font-family: inherit;
  font-size: inherit;
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
}

/* sorting ===================================================================================================*/
.sorting {
  margin-bottom: 48px;
}

.sorting__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting__title {
  margin: 0;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* pagination ===================================================================================================*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  margin-top: 14px;
}

.pagination__item {
  margin-right: 12px;
  margin-top: 11px;
}

.pagination__item:last-child {
  margin-right: 0;
}


.pagination__link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 13px 20px;
  margin: 0;
  color: rgba(var(--primary-black), 1);
  background-color: var(--primary-gray);
  border-radius: 3px;
}


.pagination__link-next {
  padding: 13px 77px;
  margin-right: 0;
}


.pagination__link:hover {
  background-color: #DFDFDF;
}

.pagination__link:active {
  color: rgba(var(--primary-black), 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination__link-current {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 13px 20px;
  margin: 0;
  color: rgba(var(--primary-black), 1);
  background-color: rgba(var(--primary-white), 1);
  outline: #DBDBDB 3px solid;
  outline-offset: -3px;
  border-radius: 3px;
}

/* =================================================================================================== */
.modal-contact-us {
  width: 960px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 50px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  padding: 65px 100px 85px 100px;
  background: rgba(var(--primary-white), 1);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-contact-us__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-contact-us__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 45px;
}

.modal-contact-us__text {
  width: 100%;
  margin-bottom: 47px;
  margin-top: 34px;
}

.modal-contact-us__label {
  display: block;
  font-weight: bold;
  margin-bottom: 9px;
}

.modal-contact-us__name {
  flex-grow: 1;
  margin-right: 56px;
}

.modal-contact-us__email {
  flex-grow: 1;
}

.modal-contact-us__name-input,
.modal-contact-us__email-input {
  width: 100%;
  min-height: 50px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal-contact-us__textarea {
  width: 100%;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal-contact-us__name-input::-webkit-input-placeholder,
.modal-contact-us__email-input::-webkit-input-placeholder,
.modal-contact-us__textarea::-webkit-input-placeholder {
  padding-left: 16px;
  padding-top: 16px;
}

.modal-contact-us__name-input::-moz-placeholder,
.modal-contact-us__email-input::-moz-placeholder,
.modal-contact-us__textarea::-moz-placeholder {
  padding-left: 16px;
  padding-top: 16px;
}

.modal-contact-us__name-input::-ms-input-placeholder,
.modal-contact-us__email-input::-ms-input-placeholder,
.modal-contact-us__textarea::-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 16px;
}

/* =================================================================================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
